#**********File copy option********************************



#**********SGE basic info**************************************
MasterName: LiuBei
#**********SGE IP info**************************************
IP-Master:   10.224.203.72
IP-Host-GuanYu:     10.224.203.122
IP-Host-ZhangFei:   10.224.203.59
IP-Host-ZhaoYun:    10.224.203.20
IP-Host-HuangZhong: 10.224.203.92
IP-Host-MaDai:      10.224.203.40
IP-Host-MaChao:     10.224.203.44
IP-Host-JiangWei:   10.224.203.38
#***************Test data space*****************************
Dir-Master-SCC:  /opt/sge62u2_1/SGE_room2/OpenH264ConformanceTest/NewSGE-SCC-Test
Dir-Master-SVC:  /opt/sge62u2_1/SGE_room2/OpenH264ConformanceTest/NewSGE-SVC-Test
Dir-Host-GuanYu:        /home/GuanYu
Dir-Host-ZhangFei:      /home/ZhangFei
Dir-Host-ZhaoYun:       /home/ZhaoYun
Dir-Host-HuangZhong:    /home/HuangZhong
Dir-Host-MaDai:         /home/MaDai
Dir-Host-MaChao:        /home/MaChao
Dir-Host-JiangWei:      /home/JiangWei
#************************************************************


